.RULER {
  position: relative;
}

.SEVENSG {
    font-family:DMM; 
    color:rgb(0, 255, 13); 
    background-color:black; 
    font-size:80px; 
    padding:0px;
  }

  .UNITSG {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:rgb(243, 49, 65); 
    background-color:black; 
    font-size:100px; 
    padding:0px;
  }
  
